@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Gloock&display=swap');

* {
    box-sizing: border-box;
}

html,
body {
    padding: 0;
    margin: 0;
}

@font-face {
    font-family: 'Gloock', serif;
    src: url("https://fonts.googleapis.com/css2?family=Gloock&display=swap");
}



